<a href="https://colab.research.google.com/github/sahanasanu/ML-Programms/blob/master/ML_programms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

write  a python program which accepts the users first and last name and print them in reverse order with a space between them

In [1]:
firstname=input("enter the first name") 
lastname=input("enter the last name") 
fn=firstname[::-1] 
ln=lastname[::-1] 
print(fn,"",ln)

enter the first namesahana
enter the last namegowda
anahas  adwog

write a python program to calculate number of days between two dates

In [2]:
from datetime import date
d0=date(2020,8,18)
d1=date(2020,9,26)
delta=d1-d0
print(delta.days)

39

write a python program to test whether a passed letter is a vowel or not

In [4]:
 ch = input(" Enter a Character : ")

if(ch == 'a' or ch == 'e' or ch == 'i' or ch == 'o' or ch == 'u' or ch == 'A'
       or ch == 'E' or ch == 'I' or ch == 'O' or ch == 'U'):
    print(ch, "is a Vowel")
else:
    print(ch, "is a not a vowel")

 Enter a Character : A
A is a Vowel

Write a python program to sum of three given integers however if two values are equal sum will be 0

In [5]:
def sum(x, y, z):
    if x == y or y == z or x==z:
        sum = 0
    else:
        sum = x + y + z
    return sum
x=int(input("enter first number :"))
y=int(input("enter second number :"))
z=int(input("enter third number :"))
print("sum is",sum(x, y, z))

enter first number :2
enter second number :2
enter third number :5
sum is 0

write a python program to count the number of charaters (character frequency )in string

In [6]:
test_str = input("Enter the string :")
all_freq = {} 
for i in test_str: 
    if i in all_freq: 
        all_freq[i] += 1
    else: 
        all_freq[i] = 1
print ("Count of all characters is :\n "+  str(all_freq))

Enter the string :harry potter
Count of all characters is :
 {'h': 1, 'a': 1, 'r': 3, 'y': 1, ' ': 1, 'p': 1, 'o': 1, 't': 2, 'e': 1}